@import './globals/mediaQueries';

/*Sobre Nosotros*/
.about-head {
    img {
        width: 300px;
        justify-self: flex-end;
    }
}

.waves {
    position: absolute;
    top: 25rem;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    svg {
        position: relative;
        display: block;
        width: calc(158% + 1.3px);
        height: 115px;
    }

    .shape-fill {
        fill: #01403A;
    }
}

.img-container {
    justify-self: center;
}

.about-sub-head {
    margin-top: 5rem;
    justify-self: flex-end;
    background-color: #014419;
    color: #BFB26F;
    
    p {
        font-size: medium;
    }
}

.about-main .card > i{
    margin-right: 20px;
}



/*Tablets and under*/
@media(max-width: 768px) {
    .grid, .showcase .grid, .info .grid, .cli .grid, .contact .grid, .about-main{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .showcase{
        height: auto;
    }

    .showcase-form, .img-container{
        justify-self: center;
        margin: auto;
        animation: slideInFromBottom 1s ease-in;
    }

    .showcase-text, .about-head-text{
        text-align: center;
        margin-top: 40px;
        animation: slideInFromTop 1s ease-in;
    }

    .cli .grid > *:first-child{
        grid-column: 1;
        grid-row: 1;
    }

    .about-sub-head, .about-head{
        text-align: center;
    }

    .about-sub-head, .about-head img{
        justify-self: center;
    }

    .waves {
        top: 37rem;
    }
}

/*mobile*/
@media(max-width: 480px) {
    .nav{
        height: 110px;
    }

    .nav .flex{
        flex-direction: column;
    }

    .nav ul{
        padding: 10px;
        background-color: rgba(0,0,0,0.1);
    }

    .waves {
        top: 48rem;
    }
}