
/*register*/
.banner{
    background-image: url(/imgs/imagenFondoRegistro.jpg);
    background-size: cover;
    background-position: center;
}
.registro{
    text-align: center;
    color: black;
}
#copywright{
    font-size: x-small;
    font-family: cursive;
    text-align: center;
    color: rgb(0, 0, 0);
}
