@charset "UTF-8";
/*Globals*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%; }

body {
  font-family: "lato", sans-serif;
  color: #BFB26F;
  line-height: 1.6;
  background-color: #014419;
  overflow-x: hidden; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #333; }

h1, h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0; }

p {
  margin: 10px 0; }

img {
  width: 100%; }

:root {
  --primary-color: #01403A;
  --secondary-color: #1c3fa8;
  --dark-color: #002240;
  --light-color: #f4f4f4; }

/*Utilities*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px; }

.card {
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px; }

.btn {
  display: inline-block;
  padding: 10px 30px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px; }

.btn-outline {
  border: 1px #fff solid;
  background-color: transparent; }

.btn:hover {
  transform: scale(0.98); }

/*backgrounds and colored btns*/
.bg-primary, .btn-primary {
  background-color: var(--primary-color);
  color: #fff; }

.bg-secondary, .btn-secondary {
  background-color: var(--secondary-color);
  color: #fff; }

.bg-dark, .bkgr-dark, .btn-dark {
  background-color: var(--dark-color);
  color: #fff; }

.bg-light, .btn-light {
  background-color: var(--light-color);
  color: #333; }

.bg-primary a, .btn-primary a,
.bg-secondary a, .btn-secondary a,
.bg-dark a, .bkgr-dark a, .btn-dark a {
  color: #fff; }

/*text sizes*/
.lead {
  font-size: 20px; }

.sm {
  font-size: 1rem; }

.md {
  font-size: 2rem; }

.lg {
  font-size: 3rem; }

.xlg {
  font-size: 4rem; }

.text-center {
  text-align: center; }

.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid, .grid-3, .grid-5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 100%; }

.grid-3 {
  /* Uso de @extend */
  grid-template-columns: 1fr 1fr 1fr; }

.grid-5 {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }

/*margin*/
/* uso de bucles */
.my-1 {
  margin: 1rem; }

.my-2 {
  margin: 2rem; }

.my-3 {
  margin: 3rem; }

.my-4 {
  margin: 4rem; }

/*padding*/
.py-1 {
  padding: 1rem; }

.py-2 {
  padding: 2rem; }

.py-3 {
  padding: 3rem; }

.py-4 {
  padding: 4rem; }

.py-5 {
  padding: 5rem; }

/*animations*/
.gradient {
  background: linear-gradient(to bottom, #1e9a35 0%, #01403a 0%, #014419 81%, #014419 100%); }

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%); }
  100% {
    transform: translateX(0); } }

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%); }
  100% {
    transform: translateX(0); } }

/* for loading effect */
@keyframes loader {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(180deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(360deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes loader-inner {
  0% {
    height: 0%; }
  25% {
    height: 0%; }
  50% {
    height: 100%; }
  75% {
    height: 100%; }
  100% {
    height: 0%; } }

/*Tablets and under*/
@media screen and (max-width: 768px) {
  .grid, .grid-3, .grid-5, .showcase .grid, .showcase .grid-3, .showcase .grid-5, .info .grid, .info .grid-3, .info .grid-5, .cli .grid, .cli .grid-3, .cli .grid-5, .contact .grid, .contact .grid-3, .contact .grid-5, .about-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .nav {
    height: 130px; }
    .nav div ul {
      height: 50px; }
  .showcase {
    height: auto; }
  .showcase-form {
    width: fit-content; }
  .showcase-form, .container {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in; }
  #body-404 {
    background-repeat: no-repeat;
    background-image: linear-gradient(125deg, var(--primary-color) 45%, var(--dark-color)); }
    #body-404 .container {
      font-size: smaller; }
      #body-404 .container h1 {
        font-size: x-small;
        font-weight: normal;
        letter-spacing: normal; }
  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in; }
  .cli .grid > *:first-child, .cli .grid-3 > *:first-child, .cli .grid-5 > *:first-child {
    grid-column: 1;
    grid-row: 1; }
  .about-sub-head, .about-head {
    text-align: center; }
  .about-sub-head, .about-head img {
    justify-self: center; }
  .product img {
    width: 70% !important; }
  svg {
    width: 50%; } }

@media screen and (max-width: 600px) {
  #products-carousel {
    margin: 2rem 1rem !important; }
  .carousel-item {
    height: 570px !important; }
    .carousel-item img {
      height: 570px; } }

/*mobile*/
@media screen and (max-width: 480px) {
  .nav {
    height: 130px; }
  #nav-products {
    padding: 1rem; }
  .container {
    padding: 0; }
  svg {
    height: 50px; }
  .contact {
    padding: inherit; }
  .footer {
    padding: 1rem; }
  .cli .container {
    margin-bottom: 20px; }
  .nav .flex {
    flex-direction: column; }
  .nav ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1); }
  .carousel-item {
    height: 460px !important; }
    .carousel-item img {
      height: 460px; }
  /*mobile*/ }

@media screen and (max-width: 480px) and (max-width: 360px) {
  .carousel-item {
    height: 350px !important; }
    .carousel-item img {
      height: 350px; } }

/*Partials*/
/*nav*/
.nav {
  color: #fff;
  background-color: #01403A !important;
  height: 70px; }

.nav .flex {
  justify-content: space-between; }

.nav ul {
  display: flex; }

.nav a {
  color: #fff;
  padding: 10px;
  margin: 0 5px; }

.nav a:hover {
  border-bottom: 2px #fff solid; }

/*footer*/
.footer .social a {
  margin: 0 10px; }

/*For each file*/
.nav .container {
  overflow: hidden; }

.hidden {
  visibility: hidden;
  height: 0; }

/*showcase*/
.showcase {
  height: 400px;
  background-color: var(--primary-color);
  color: #fff;
  position: relative; }
  .showcase h1 {
    font-size: 40px; }
  .showcase p {
    margin: 20px; }
  .showcase .grid, .showcase .grid-3, .showcase .grid-5 {
    overflow: visible;
    grid-template-columns: 55% 44%;
    gap: 2rem; }

.showcase::before, .showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  right: 0;
  left: 0;
  background: #fff;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg); }

.showcase-text {
  animation: slideInFromLeft 1s ease-in; }

.showcase-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
  justify-self: flex-end;
  animation: slideInFromRight 1s ease-in; }
  .showcase-form .form-control {
    margin: 30px 0; }
  .showcase-form input[type="text"], .showcase-form input[type="email"] {
    border: 0;
    border-bottom: 1px solid #b4becb;
    width: 100%;
    padding: 3px;
    font-size: 16px; }
  .showcase-form input:focus {
    outline: none; }

/*info*/
.info {
  padding-top: 100px;
  animation: slideInFromBottom 1s ease-in; }
  .info .grid h3, .info .grid-3 h3, .info .grid-5 h3 {
    font-size: 35px; }
  .info .grid p, .info .grid-3 p, .info .grid-5 p {
    font-size: 20px;
    font-weight: bold; }
  .info .container h3 {
    text-align: center;
    justify-self: center; }
  .info .container .my-4 {
    margin: 3rem;
    /*operación aritmética con margin del bucle*/ }

.infoHeading {
  max-width: 500px;
  margin: auto; }

/*Cli*/
.cli .container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.cli .grid > *:first-child, .cli .grid-3 > *:first-child, .cli .grid-5 > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2; }

/*contact*/
.contact .grid, .contact .grid-3, .contact .grid-5 {
  grid-template-columns: 4fr 3fr; }

/*Social Networks*/
footer .container a:hover {
  color: blue; }

/*Tablets and under*/
@media screen and (max-width: 768px) {
  .grid, .grid-3, .grid-5, .showcase .grid, .showcase .grid-3, .showcase .grid-5, .info .grid, .info .grid-3, .info .grid-5, .cli .grid, .cli .grid-3, .cli .grid-5, .contact .grid, .contact .grid-3, .contact .grid-5, .about-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .nav {
    height: 130px; }
    .nav div ul {
      height: 50px; }
  .showcase {
    height: auto; }
  .showcase-form {
    width: fit-content; }
  .showcase-form, .container {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in; }
  #body-404 {
    background-repeat: no-repeat;
    background-image: linear-gradient(125deg, var(--primary-color) 45%, var(--dark-color)); }
    #body-404 .container {
      font-size: smaller; }
      #body-404 .container h1 {
        font-size: x-small;
        font-weight: normal;
        letter-spacing: normal; }
  .showcase-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in; }
  .cli .grid > *:first-child, .cli .grid-3 > *:first-child, .cli .grid-5 > *:first-child {
    grid-column: 1;
    grid-row: 1; }
  .about-sub-head, .about-head {
    text-align: center; }
  .about-sub-head, .about-head img {
    justify-self: center; }
  .product img {
    width: 70% !important; }
  svg {
    width: 50%; } }

@media screen and (max-width: 600px) {
  #products-carousel {
    margin: 2rem 1rem !important; }
  .carousel-item {
    height: 570px !important; }
    .carousel-item img {
      height: 570px; } }

/*mobile*/
@media screen and (max-width: 480px) {
  .nav {
    height: 130px; }
  #nav-products {
    padding: 1rem; }
  .container {
    padding: 0; }
  svg {
    height: 50px; }
  .contact {
    padding: inherit; }
  .footer {
    padding: 1rem; }
  .cli .container {
    margin-bottom: 20px; }
  .nav .flex {
    flex-direction: column; }
  .nav ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1); }
  .carousel-item {
    height: 460px !important; }
    .carousel-item img {
      height: 460px; }
  /*mobile*/ }

@media screen and (max-width: 480px) and (max-width: 360px) {
  .carousel-item {
    height: 350px !important; }
    .carousel-item img {
      height: 350px; } }

/*Sobre Nosotros*/
.about-head img {
  width: 300px;
  justify-self: flex-end; }

.waves {
  position: absolute;
  top: 25rem;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }
  .waves svg {
    position: relative;
    display: block;
    width: calc(158% + 1.3px);
    height: 115px; }
  .waves .shape-fill {
    fill: #01403A; }

.img-container {
  justify-self: center; }

.about-sub-head {
  margin-top: 5rem;
  justify-self: flex-end;
  background-color: #014419;
  color: #BFB26F; }
  .about-sub-head p {
    font-size: medium; }

.about-main .card > i {
  margin-right: 20px; }

/*Tablets and under*/
@media screen and (max-width: 768px) {
  .grid, .grid-3, .grid-5, .showcase .grid, .showcase .grid-3, .showcase .grid-5, .info .grid, .info .grid-3, .info .grid-5, .cli .grid, .cli .grid-3, .cli .grid-5, .contact .grid, .contact .grid-3, .contact .grid-5, .about-main {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; }
  .showcase {
    height: auto; }
  .showcase-form, .img-container {
    justify-self: center;
    margin: auto;
    animation: slideInFromBottom 1s ease-in; }
  .showcase-text, .about-head-text {
    text-align: center;
    margin-top: 40px;
    animation: slideInFromTop 1s ease-in; }
  .cli .grid > *:first-child, .cli .grid-3 > *:first-child, .cli .grid-5 > *:first-child {
    grid-column: 1;
    grid-row: 1; }
  .about-sub-head, .about-head {
    text-align: center; }
  .about-sub-head, .about-head img {
    justify-self: center; }
  .waves {
    top: 41.6rem; } }

/*mobile*/
@media screen and (max-width: 480px) {
  .nav {
    height: 130px; }
  .css-1j8o68fg {
    width: 100%; }
  .nav .flex {
    flex-direction: column; }
  .nav ul {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.1); }
  .about-head {
    padding: 1rem; }
  .waves {
    top: 41.6rem; } }

/*mobile*/
@media screen and (max-width: 400px) {
  .waves {
    top: 43.7rem; } }

/*mobile*/
@media screen and (max-width: 360px) {
  .nav {
    height: 130px; }
  .waves {
    top: 45.6rem; } }

/*Productos*/
.navbar {
  font-size: 1rem;
  position: sticky; }

#nav-products {
  background-color: #01403A !important;
  display: flex;
  flex-wrap: nowrap; }
  #nav-products .container div {
    width: 100%; }
    #nav-products .container div #navbar-brand {
      justify-content: flex-start;
      margin-right: 25%; }
  #nav-products #navbar-supported-content {
    justify-content: flex-end; }
  #nav-products .navbar-nav .nav-link {
    padding: 10px;
    margin: 0 5px;
    color: #fff; }
  #nav-products .navbar-nav .nav-link:hover,
  #nav-products .navbar-nav .nav-link.active {
    border-bottom: 2px #fff solid; }

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease; }

.loader-wrapper {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #13305a;
  display: flex;
  justify-content: center;
  align-items: center; }

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in; }

#products-carousel-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  margin: auto;
  overflow: hidden; }

.carousel-item {
  height: 35rem;
  background-color: black;
  color: white;
  position: relative;
  overflow: hidden; }

.carrusel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 3rem;
  width: 50%; }

.imgs-size {
  background-size: cover;
  height: 40rem;
  opacity: 0.7; }

hr {
  width: 4rem;
  height: 2px;
  background-color: #fb774b; }

.star {
  padding: 0.6rem 0; }
  .star i {
    font-size: 0.8rem;
    color: goldenrod; }

.kinds {
  padding: 16rem 0;
  animation: slideInFromBottom 1s ease-in; }

.buy-btn {
  cursor: pointer;
  margin: auto;
  padding: 0.7rem;
  border: none;
  background-color: black;
  color: white; }
  .buy-btn :hover {
    opacity: 0.7; }

.product {
  margin-bottom: 2rem; }
  .product img {
    cursor: pointer;
    transition: 0.3s all;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: cover; }
  .product img:hover {
    opacity: 0.5; }
  .product .buy-btn {
    background-color: orangered;
    transform: translateY(1.2rem);
    opacity: 0;
    transition: 0.3s all; }

.product:hover .buy-btn {
  transform: translateY(0);
  opacity: 1; }

.pagination-container {
  display: flex;
  justify-content: center;
  align-content: center; }
  .pagination-container .pagination a {
    color: black; }

body > div > nav > ul > li.page-item.active > a {
  background-color: var(--primary-color) !important; }

#banner {
  background-image: url(/imgs/imagenFondoRegistro.jpg);
  width: 100%;
  height: 60vh;
  background-size: cover;
  background-position: top 4.2rem center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #22120c; }
  #banner button {
    background-color: #22120c; }

bkgr-dark {
  background-color: var(--dark-color) !important; }

/*register*/
.banner {
  background-image: url(/imgs/imagenFondoRegistro.jpg);
  background-size: cover;
  background-position: center; }

main .registro {
  margin: 10rem 0; }
  main .registro h1 {
    color: black; }
  main .registro .card:hover {
    opacity: 0.8;
    cursor: pointer; }
  main .registro .buy-btn {
    background-color: orangered;
    transform: translateY(1.2rem);
    opacity: 0;
    transition: 0.3s all; }
  main .registro .card:hover .buy-btn {
    transform: translateY(0);
    opacity: 1; }

.page-not-found {
  overflow: hidden;
  margin-bottom: 3rem; }
  .page-not-found .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden; }
    .page-not-found .container img {
      width: 70%;
      height: fit-content; }
    .page-not-found .container img:hover {
      opacity: 0.7; }
    .page-not-found .container .buy-btn {
      border: 1px black solid;
      background-color: var(--dark-color);
      transform: translateY(1.2rem);
      opacity: 0;
      transition: 0.3s all;
      overflow: hidden; }
  .page-not-found .container:hover .buy-btn {
    transform: translateY(0);
    opacity: 1; }

.single-product h6 {
  color: #01290f; }

.single-product select {
  display: block;
  padding: 5px 10px;
  margin: 0; }

.single-product input {
  width: 3rem;
  height: 2.5rem;
  padding-left: 0.6rem;
  font-size: 1rem;
  margin-right: 0.6rem; }

.single-product .buy-btn {
  background-color: var(--dark-color);
  box-shadow: black 3px; }
